header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    color: white;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.header-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 2rem;
}

.header-linksul li {
    display: inline;
}

.header-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header-links ul li a:hover {
    color: #ffd700;
}