/* Basic styling for the navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Ensure it's fixed at the top */
    left: 0;
    width: 100%; /* Full width of the screen */
    z-index: 9999; /* Ensures the navbar stays on top */
    background-color: rgba(0, 0, 0, 0.7); /* Optional: add a semi-transparent background */
}

/* Logo styling */
#novus-logo {
    height: 6rem;
}

/* Navbar links container */
.navbar-links {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 2rem; /* Ensures the links stay to the right */
}

/* Links styling */
.navbar-links a {
    color: #919191;
    text-decoration: none;
    padding: 8px 12px;
    font-family: CocogoosePro;
    font-size: 1.2rem;
    text-shadow: 0px 7px 10px #000000;
}

.navbar-links a:hover {
    background-color: #282828;
    border-radius: 4px;
}

/* Hamburger Menu (mobile view) */
.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Style for the close (X) icon */
.close-icon {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/* Responsive styling */
@media (max-aspect-ratio: 1.4) {
    .navbar-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
        opacity: 0;
        transform: translateY(-100px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        visibility: hidden;
    }

    .navbar-links.active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    .navbar-toggle {
        display: flex; /* Show the toggle in mobile view */
        transition: transform 0.5s ease;
        margin-right: 2rem;
        z-index: 9999;
    }
}