#section1{
  width: 100%;
  text-align: center;
  /* background-color: black; */
  /* background-image: url('./../../Resources/Tinted-Bkg.jpeg'); */
  /* height: 64rem; */
  padding: 1rem 0rem 0rem 0rem;
  margin: 0;
}
.section1-subheading{
  font-family: Heavitas;
  color: #325598;
  font-size: 3.5rem;
  margin: 1rem 0rem 0rem 0rem;
  text-shadow: -4px -4px 0 #101a2d, 4px -4px 0 #101a2d, -4px 4px 0 #101a2d, 4px 4px 0 #101a2d;

}
.section1-heading{
  font-family: TheBoldFont;
  font-size: 4rem;
  margin: 2rem 0rem 0rem 0rem;
  text-wrap: wrap;
}
#Main-Heading-Landing2 {
  font-size: 2.5rem;
}
.primary-btn{
  background-color:#325598;
  padding: 2rem 3.5rem;
  margin-top: 1.5rem;

  font-family: CocogoosePro;
  color: #fff;
  font-size: 1.25rem;

  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease;
}
.primary-btn:hover {
    background-color:#1a4491;
  }

#s2-text-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: TheBoldFont;
  margin: 0.5rem 0rem 0rem 0rem;
}
#s2-headingl2-s1{
    font-size: 5rem;
    background: url(./../../Resources/ComicBkg.jpeg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0rem 0.5rem 0rem 0rem;
}
#s2-headingl2-s2{
    margin: 0rem 0rem 0rem;
    background: url(./../../Resources/ComicBkg.jpeg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 5rem;
}
/* CSS FOR DESKTOP NOW */
@media (min-width: 768px){
  #section1{
    padding: 1rem 0rem 0rem 0rem;
  }
  .section1-subheading{
    font-family: Heavitas;
    color: #325598;
    font-size: 4.25rem;
    margin: 1rem 0rem 0rem 0rem;
  }
  .section1-heading{
    font-size: 4rem;
    margin: 1.5rem 0rem 0rem 0rem;
  }
  #Main-Heading-Landing2{
    font-size: 4rem;
  }
}

@media (min-width: 1024px){
  #section1{
    padding: 5rem 0rem 0rem 0rem;
  }
  .section1-subheading{
    font-family: Heavitas;
    color: #325598;
    font-size: 4.25rem;
    margin: 1rem 0rem 0rem 0rem;
  }
  .section1-heading{
    font-size: 4.5rem;
    margin: 1.5rem 0rem 0rem 0rem;
  }
  #Main-Heading-Landing2{
    font-size: 4.5rem;
  }
  #s2-headingl2-s1{
    font-size: 7rem;
}
#s2-headingl2-s2{
    font-size: 7rem;
}
#s2-text-div{
  margin: 2.5rem 0rem 0rem 0rem;
}
}
@media (min-width: 1280px){
  #section1{
    padding: 6rem 0rem 0rem 0rem;
  }
  .section1-subheading{
    font-family: Heavitas;
    color: #325598;
    font-size: 4.75rem;
    margin: 1rem 0rem 0rem 0rem;
  }
  .section1-heading{
    font-size: 4.75rem;
    margin: 1.5rem 0rem 0rem 0rem;
  }
  #Main-Heading-Landing2{
    font-size: 4.75rem;
  }
  #s2-headingl2-s1{
    font-size: 8rem;
}
#s2-headingl2-s2{
    font-size: 8rem;
}
#s2-text-div{
  margin: 2.5rem 0rem 0rem 0rem;
}
}