.home-page {
    height: 100vh;
    /* background: url('/background.jpg') no-repeat center center/cover; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .overlay {
    text-align: center;
    color: white;
    z-index: 1;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 2rem;
    color: #0a66c2;
    margin-bottom: 20px;
  }
  
  button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #0a66c2;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #004e8a;
  }