@font-face {
  font-family: CocogoosePro;
  src: url(./Resources/Fonts/Cocogoose_Pro.ttf);
  /* font-weight: bold; */
}
@font-face {
  font-family: Heavitas;
  src: url(./Resources/Fonts/Heavitas.ttf);
}
@font-face {
  font-family: TheBoldFont;
  src: url(./Resources/Fonts/TheBoldFont.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./Resources/Fonts/Montserrat-SemiBold.ttf);
}

:root {
  --col-bg-orange: #C06F49;
  --col-fg-orange: #F9BA9C;
  --col-bg-blue: #325598;
  --col-fg-accent: #E4FCFF;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  color: white;
  position: relative;
}

body{
  background-image: url('./Resources/TintedBkg4.jpeg');
  background-repeat: repeat-y;
  background-size: cover;
  padding: 0;
}

.App {
  text-align: center;
  /* background: url('./../src/Resources/Tinted-Bkg.jpeg'); */

  /* background-color: rgb(39, 38, 38); */
  /* background-position: top center;
  background-repeat: repeat-y; */
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-attachment: scroll;
  overflow: hidden;
}

.virtualPadding {
  height: 7rem;
}

@media (min-aspect-ratio: 1.4) {
  .virtualPadding {
    height: 6rem;
  }
}